body{
    background-color:  #02010a;
    font-family: 'Dancing Script';
}
.encabezado{
    background-color: #5b7989;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    display:flex; 
    flex-direction:row;  
    align-items: center;
    animation: animacion-pagina 1s;
}

@-webkit-keyframes animacion-pagina{
    0%{
        margin-top: 150%;
    }
    60%{
        margin-top: -5%;
    }
    100%{
        margin-top: 0%;
    }
}

.navegador ul{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
    list-style-type: none;
    
}
.navegador li{
    display: inline;
    padding-right: 5px; 
}

.comenzando{
    text-shadow: 2px 2px #02010a;
    padding-left: 1%;
    flex: 1;   
}
.navegador{
    flex: 1;
    text-align: right;
    padding: 1%;
}

#menu-principal a{
    text-decoration: none;
    color: white;
    padding-left: 2%;
}
.contenedor{
    padding-left: 10%;
    padding-right: 10%;
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
}
#imagen1{
    background-color: #82c3a6;
    text-align: center;
}
#imagen-secundaria{
    padding-top: 2%;
    padding-bottom : 2%;
    background-color: #d5c75f;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
/*
#imagen-secundaria2{
    padding-top: 1%;
    padding-bottom : 1%;
    background-color: #d5c75f;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
*/
#imagen1{
    padding-top: 1%;
    padding-bottom : 1%;
    width: 100%;
}
#imagen2, #imagen3{
  
    width: 50%;
}

#imagen4-1,#imagen5-2,#imagen6-3,#imagen7-4,#imagen8-5,#imagen9-6{
    margin-top : 0.5%;
    margin-bottom : 0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 33.33%; 
}

#imagen1 img{
    width: 60%;
    margin: 1%;
    border: 1px black solid;
    box-shadow: 2px 2px #02010a;
}
#imagen2 img{
    width: 70%;
    border: 1px black solid;
    box-shadow: 2px 2px #02010a;
}

#imagen2 img:hover{
    transform: rotate(10deg);
    box-shadow: 2px 2px #82c3a6 ;
}

#imagen3 img:hover{
    transform: translate(20px,-5px);
    box-shadow: 2px 2px #82c3a6 ;
    border: 2px;
}
#imagen3 img{
    width: 70%;
    border: 1px black solid;
    box-shadow: 2px 2px #02010a;
}

#imagen4-1 img{
    width: 70%;
    border: 1px black solid;
    filter: blur(10px);
    box-shadow: 2px 2px #02010a;
}

#imagen6-3 img{
    width: 70%;
    border: 1px black solid;
    filter: sepia(90%);
    box-shadow: 2px 2px #02010a;
}
#imagen5-2 img,#imagen7-4 img,#imagen9-6 img{
    width: 70%;
    border: 1px black solid;
    filter: grayscale(100%);
    box-shadow: 2px 2px #02010a;
}

#imagen8-5 img{
    width: 70%;
    border: 1px black solid;
    box-shadow: 2px 2px #02010a;
}


footer{
    padding-left: 10%;
    padding-right: 10%;
}

.pie-pagina{
    font-size: 0.9em;
    display: flex;
    flex-grow: 1;
    border-radius: 0px 0px 10px 10px;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color:  #C6d5c5;
    align-items: baseline;
}

.contacto, .terminos, .derechos, .redes {
    width: 23.5%;
    text-align: left;
    padding-left: 1.5%;
}

.redes ul{
    list-style-type: none;
    padding: 0.2%; 
}

#c1,#c2,#c3 {
    padding-top: 5%;
}
.redes ul img{
    float: left;
    text-align: left;
    width: 20px;
}

@media (max-width:900px){
  
    .encabezado{
        display: flex;
        flex-direction: column;
        /*-webkit-flex-flow: row wrap;
        flex-flow: row wrap;*/
        justify-content: center;
        align-items: center; 
    }
    
    .comenzando,.navegador{
        text-align: center;
    }

    .contenedor{
        padding-left: 0%;
        padding-right: 0%;
    }

    footer{
        padding-left: 0%;
        padding-right: 0%;
    }
            
    #imagen4-1,#imagen5-2,#imagen6-3,#imagen7-4,#imagen8-5,#imagen9-6{
        margin-top : 2%;
        margin-bottom : 2%;
        width: 100%;  
    }

    #imagen2 img, #imagen3 img{
        width: 80%;
    }

    #imagen1,#imagen2,#imagen3{
        padding-top : 2%;
        padding-bottom : 2%;
        width: 100%;
    }

    .contacto, .terminos, .derechos, .redes {
        width: 100%;
    }
    }